*{
    margin: 0;
}

/* ACCORDION */
.acc_head{
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: bisque;
    color: black;
    transition: all 0.3s linear;
}
.acc_head:hover{
    text-decoration: none;
    color: black;
    background-color: rgb(199, 176, 149);
}
.acc_body{
    background-color: white;
    height: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.3s linear;
}
.acc_body.active{
    padding: 15px;
    overflow: auto;
    height: auto;
}

/* END OF ACCORDION */


/* ACCORDION HORIZONTAL */

#mida{
    min-height: 600px;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/2.jpg") center;
}

.left_menu{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left_menu li{
    color: white;
    margin: 20px 0;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    list-style-type: none;
    cursor: pointer;
    font-size: 1.1rem;
}
.left_menu li.active,
.left_menu li:hover,
.left_menu li:focus
{
    color: #e0d049;
}

.wrapper{
    display: flex;
    height: 600px;
    /* justify-content: center; */
    align-items: center; 
}
.info_div{
    color: white;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: all 0.3s ease-in-out;
    font-size: 1.3rem;
}
.info_div.active{
    opacity: 1;
}

.link[title="samiur ru"]{
    color: green;
}

/* END OF ACCORDION HORIZONTAL */

