body{
    padding:0;
    margin:0;
    background:bisque;
    margin-top:20%;
}
ul li{
   list-style: none;
    padding:15px 50px;
    border:2px solid black;
    background-color:black;
    color:grey;
}

.active{
 background:white;
cursor: pointer;
 transition: all 0.3s linear;
}

